.errorDiv{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
}
.errorBox{
    position: absolute;
    top:50%;
    height: 300px;
    width: 100%;
    margin-top:-150px;
    text-align: center;
    color: #c7c7c7;
    font-size: 20px;
}